.card{
    border: solid black;
    border-radius: 10px;
    padding: 20px;
    width: 180px;
    height: 100px;
    display: inline-block;
    text-align: left;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
}