#nid1
{
    text-align: center;
    margin-left: 14vw;
    margin-right: 14vw;
    display: inline-block;
    width: 71vw;
}

#nid2
{
    width: 20rem;
    margin-left: 1vw;
    margin-right: 1vw;
    display: inline-block;
}

