<<<<<<< HEAD
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>example</title>
</head>
<body>

        <form method="post">     
            <input type="text" name="name" placeholder="Name"/><br>
            <input type="tel" name="mobile" placeholder="Mobile"/> <br>
            <input type="text" name="addr" id="" placeholder="addr"/> <br>
            <!-- <input type="date" name="" id="" placeholder="dob"> <br> -->
            <!-- file: <input type="file" name="" id=""> <br>
            is-true: <input type="checkbox" name="" id=""> -->
            <button type="submit">Submit the form</button>
            
        </form>




        <p>hello <%=name%> </p>








</body>

=======
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>example</title>
</head>
<body>

        <form method="post">     
            <input type="text" name="name" placeholder="Name"/><br>
            <input type="tel" name="mobile" placeholder="Mobile"/> <br>
            <input type="text" name="addr" id="" placeholder="addr"/> <br>
            <!-- <input type="date" name="" id="" placeholder="dob"> <br> -->
            <!-- file: <input type="file" name="" id=""> <br>
            is-true: <input type="checkbox" name="" id=""> -->
            <button type="submit">Submit the form</button>
            
        </form>




        <p>hello <%=name%> </p>








</body>

>>>>>>> 1285c54 (1st commit)
</html>